In [3]:
import pandas as pd
import os

In [8]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 '500_Person_Gender_Height_Weight_Index.csv',
 'Kaggle Gender Height Weight Body mass Index.ipynb']

In [9]:
#Loading Kaggle dataset

df = pd.read_csv('500_Person_Gender_Height_Weight_Index.csv')

In [10]:
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Index   500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB

In [15]:
df.describe()

           Height      Weight       Index
count  500.000000  500.000000  500.000000
mean   169.944000  106.000000    3.748000
std     16.375261   32.382607    1.355053
min    140.000000   50.000000    0.000000
25%    156.000000   80.000000    3.000000
50%    170.500000  106.000000    4.000000
75%    184.000000  136.000000    5.000000
max    199.000000  160.000000    5.000000

In [70]:
df.columns
for i in df.columns:
    print(i ,df[i].dtypes)
    
    
len(df.columns)

print((df["Gender"]).count())

a=len(df["Gender"])

Gender object
Height int64
Weight int64
Index int64
500

In [34]:
columns_name =[]

for name in df.columns:
    columns_name.append(name)
    print(name, end = " ")

Gender Height Weight Index

In [35]:
df.dtypes

Gender    object
Height     int64
Weight     int64
Index      int64
dtype: object

In [44]:
for i in df.columns:
    print("{0} has {1} type ".format(i,df[i].dtypes))

Gender has object type
Height has int64 type
Weight has int64 type
Index has int64 type

In [51]:
# 
for i in df.columns:
    if df[i].dtype == "int64" and i != "Index"  :
        print(i, df[i].mean())

Height 169.944
Weight 106.0